<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" metadata-complete="true" version="6.0">
  <display-name>CollegeMISFW</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>StudentRecord</servlet-name>
    <servlet-class>com.binarybrain.main.StudentRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRecord</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FeesRecord</servlet-name>
    <servlet-class>com.binarybrain.main.FeesRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeesRecord</servlet-name>
    <url-pattern>/feesrecord</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PrintDb</servlet-name>
    <servlet-class>com.binarybrain.main.PrintDb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintDb</servlet-name>
    <url-pattern>/printdb</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UpdateFees</servlet-name>
    <servlet-class>com.binarybrain.main.UpdateFees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFees</servlet-name>
    <url-pattern>/update-fees</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TeacherForm</servlet-name>
    <servlet-class>com.binarybrain.main.TeacherForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherForm</servlet-name>
    <url-pattern>/teacher-form</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>GradesForm</servlet-name>
    <servlet-class>com.binarybrain.main.GradesForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradesForm</servlet-name>
    <url-pattern>/grades</url-pattern>
  </servlet-mapping>
</web-app>